springboot-ws-server/src/main/resources/schema/tests.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org.dante.springboot/ws"
           targetNamespace="http://org.dante.springboot/ws" elementFormDefault="qualified">

	<xs:element name="getTestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>        
    
</xs:schema>